{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/checkout.css')}}">
<div class="order">
  <div class="cart">

  </div>
  <form method="post">
    {{checkout_form.hidden_tag()}}
    {{checkout_form.checkout_json}}
    <br>
    <div class="button-field has-text-right">
      {{checkout_form.submit_checkout(class="button is-link is-medium")}}
      <button class="button is-medium" onclick="location.href='/product';">Keep Shopping</button>
    </div>
  </form>
</div>
<script type="text/javascript" src="{{url_for('static', filename='scripts/cookie.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/checkout.js')}}"></script>
{% endblock %}
