<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login In</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/pikachu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/sign-page.css')}}">
</head>
<body>
<div class="pikachu">
    <div class="face">
        <div class="eyes">
            <div class="eye left">
                <div class="eyeball"></div>
            </div>
            <div class="eye right">
                <div class="eyeball"></div>
            </div>
        </div>
        <div class="nose">
            <div class="nose-tip"></div>
        </div>
        <div class="cheeks">
            <div class="cheek left">
                <div class="electrode"></div>
            </div>
            <div class="cheek right">
                <div class="electrode"></div>
            </div>
        </div>
        <div class="mouth"></div>
    </div>
</div>
<div class="input-form">
    <p class="title has-text-centered">Login</p>
    <form method="post">
        <div class="field">
            <p class="control">
                {{ login_form.hidden_tag() }}
                {{ login_form.login_username(class="input is-medium",placeholder="Account") }}
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                {{ login_form.login_password(class="input is-medium",placeholder="Password") }}
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        {{ login_form.submit_login(class="input button is-link is-medium") }}
        <a href="/signup">New account?</a>
        {{session['report']}}
    </form>
</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='scripts/pikachu.js')}}"></script>
</html>
